body{
    background-color: rgba(46, 96, 160, 0.808);
    font-style: italic;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;

}
button{
    background-color: rgb(98, 0, 117);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
}
form{
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

